@import "../../responsive.scss";

$primary-color: #006633;  // GMU Green
$secondary-color: #ffc107; // GMU Yellow
$background-color: #fcf5f3;
$text-color: #ffffff; // White text for good contrast with green
$light-background-color: #f4f4f4;

.homePage {
  display: flex;
  height: 100%;
  background-color: $light-background-color; // Light background color for overall page

  .textContainer {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include lg {
        padding-right: 50px;
      }

      @include md {
        padding: 0;
      }

      @include sm {
        justify-content: flex-start;
      }

      .title {
        font-size: 64px;
        color: $primary-color; // GMU Green for title

        @include lg {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h1 {
          font-size: 36px;
          color: $secondary-color; // GMU Yellow for h1

          @include lg {
            font-size: 32px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
          color: $primary-color; // GMU Green for h2
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: $background-color; // Keeping this neutral
    position: relative;
    display: flex;
    align-items: center;

    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }
}
